ul {
  list-style-type: none;
  padding-left: 0.5em;

}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
}

a:hover {
  color: purple;
}

.link-list {
  display: flex;
  justify-content: left;
  border-right: 2px solid black;

}

li {
  padding: 0.5em;
}
