table{
  width:100%;
  /*min-width:100vw;*/
}
th{
  padding:0.8em;
}
td{
  padding-left:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.btn1{
  display:flex;
  justify-content:space-around;
}
button{
  padding:0.8em;
}

